* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.tools__list,
.color__change,
.color__show {
    background-repeat: no-repeat;
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.heading{
    font-size: 20px;
}

.tools__choose-color{
    color: #ffffff;
    cursor: pointer;
}

.tools__pencil{
    font-size: 14px;
}
.wrapper {
    background-color:#2d2d2d;
    margin: 0 auto;
}

.tools__paints-buckets:hover ,
.tools__pencil:hover ,
.tools__eraser:hover ,
.tools__stroke:hover,
.tools__choose-color:hover {
    background-repeat: no-repeat;
    background-color: #66562f;
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
}

.tools {
    padding: 20px;
    border: 6px solid #7922CC;
    border-radius: 25px;
    background: #3a3a3a;
    width: 80%;
    margin-bottom: 92px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.header {
    align-items: center;
    display: flex;
    padding: 14px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

i.fas.fa-bars {
    font-size: 30px;
}

.logo {
    margin-right: 36px;
    color: rgba(0, 0, 0, 0.54);
}

.instruments {
    background-repeat: no-repeat;
    margin-left: 25px;
    width: 9%;
}

.tools__paints-buckets,
.tools__pencil ,
.tools__eraser ,
.tools__stroke,
.tools__choose-color{
    text-align:center; 
    background-repeat: no-repeat;
    font-size: 25px;
    display: flex;
    padding: 32px 0px;
    justify-content: flex-start;
}

.color__current {
    position: relative;
    z-index: 100;
    cursor: pointer;
}

.color__prev {
    position: relative;
    bottom: 25px;
    left: 35px;
    cursor: pointer;
}

.swap {
    cursor: pointer;
    position: relative;
    bottom: 48px;
    left: 10px;
}

ul>li>img,
ul>li>div {
    margin-right: 35px;
}

.shape {
    margin-left: 1075px;
}

.color__circle {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.size {
    margin-right: 25px;
    display: flex;
    width: 15%;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.541327);
    height: fit-content;
}

.canvas {
    display: flex;
    flex-direction: column;
}


.size__button {
    background-color: #ffffff;
    padding: 15px;
    cursor: pointer;
    border: none;
}

.main {
    padding-top: 75px;
}

.canvas-style {
    background-color: #8f8b8b;
    border:1px solid #8f8b8b;
}

.show__prev-circle {
    background-color: #41B6F7;
}

.active {
    border-radius: 2px;
    transition: .2s;
    background-repeat: no-repeat;
    border: 3px solid #ffd700;
}