.wrapper {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    background-image: url('../assets/img/bg 1.png');
    justify-content: space-around;
    padding-bottom: 97px;
    padding-top: 40px;
}

.operations__button {
    display: flex;
    padding-left: 0;
}

.right__block {
    display: flex;
    flex-direction: column;
}

.left__block {
    margin-left: 20px;
    font-family: Montserrat;
    font-style: normal;
    color: #ffffff;
}

.operations__button, .button-temperature {
    list-style: none;
    cursor: pointer;
    margin: 0;
}

.reload {
    margin-right: 10px;
}

.reload , .language{
    padding: 14px;
    background-color: rgba(180, 184, 187, 0.4);
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.language{
    position: relative;
}
.language-select{
    cursor: pointer;
    padding-right: 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    display: inline-block;
    background-color: rgba(133, 137, 139, 0.4);
    border: none;
    appearance:none;
    -webkit-appearance: none;
}

.language::after {
    content: "";
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 50%;
    margin-top: -3px;
    height: 0;
    width: 0;
    border-top: 6px solid  rgba(255, 255, 255, 0.4);;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}

.button-temperature{
    padding-left: 10px;
    display: flex;
}

.button__fahrenheit, .button__celcius {
    padding: 15px;
    background: rgba(76, 82, 85, 0.4);
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
}

.button__celcius{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button__fahrenheit{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button__temperature-active{
    background: rgba(174, 181, 185, 0.5);
    color: #FFFFFF;
}

.country__info {
    display: flex;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.town {
    margin-right: 10px;
}

.weather__today {
    margin-top: 57px;
}

.date {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
}

.today {
    margin-right: 18px;
}

.show__temperature-now {
    font-weight: bold;
    font-size: 180px;
}

.show__data {
    display: flex;
}

.weather__icon {
    width: 155px;
}

.description__weather-info {
    margin-left: 78px;
    font-size: 22px;
    line-height: 37px;
}

.weather-three-day {
    display: flex;
    justify-content: space-between;
}

.weather-day__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.weather-three-day {
    margin-top: 25px;
}

.show__temperature {
    font-size: 60px;
    font-weight: bold;
}

.weather-three-day__icon{
    width: 100px;
}

.day-text {
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    font-weight: bold;
}


.city-input{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    padding-right: 75px;
    border: 1px solid #727880;
    background: rgba(255,245,215,0.2);
}

::placeholder {
    color: #ffffff;
}

.submit{
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    margin-left: -4px;
    border:none;
    padding: 11px;
    cursor: pointer;
    background: #858D96;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.map-responsive{
    margin-top: 110px;
}

.map-responsive .iframe{
    border-radius: 20px;
}

.coordinates {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.longitude {
    margin: 0;
}


